
{% load static %}

<html>
<head>
	<title>{RECtangle} - A mini Polygon</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	{{ form.media }}
</head>
<body>
	<div>
		<header class="header-fixed">
			<div class="header-limiter">
				<h1><a href="{% url 'home' %}">REC<span>tangle</span></a></h1>
				<nav>
				<div class="">	
					{% if user.is_authenticated %}
					
					<p>Hi {{ user.username }}!  <a href="{% url 'logout' %} " style="color: #5383d3">Log out</a><a href="{% url 'password_change' %}"  style="color: grey;">Change Password</a></p>
					{% else %}
					<p>You are not logged in.
						
						<a href="{% url 'login' %}" style="color: #5383d3">Login</a> 
						 or
						<a href="{% url 'signup' %}" style="color: #5383d3">Signup</a>
					
				
				</p>
					
					{% endif %}
				</div>
				
				</nav>

			</div>
		</header>
	</div>
	
	
	<div class="body">
		{% block content %}
		{% endblock content %}
	</div>

	<!-- CSS only -->

</body>
</html>