
{% extends  'base.html' %}

{% block content %}



                <div class="table is-bordered is-fullwidth " id="outer">
                    {% if all_prob_list %}
                	<div id="inner">
	    			<h1>Current Problems</h1>
	    			</div>
                        <table width="auto">
                            <thead>
                                <tr class="">
                                	<th>Problem</th>
                                	<th>Status</th>
                                	<th>Author</th>
                                	<th>Coordinator</th>
                                	<th>Created</th>
                                </tr>
                            </thead>
                            <tbody >
                            	{% for problem in all_prob_list %}
                                <tr>
                                	<td><a href="{% url 'problem_detail' problem.pk %}">{{problem.difficulty}}  -  {{problem.title}}</a></td>
                                	<td>{{problem.status}}</td>
                                	<td>{{problem.author}}</td>
                                	<td>{{problem.coordinator1}}</td>
                                	<td>{{problem.created}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    <div>
                    {% else %}
                    <h3>No problems proposed</h3>
                    {% endif%}

                    <a href="{% url 'problem_create' %}"><button>+ Propose new Problem</button></a>
                	</div>
                </div>

                <!--
                <div class="column is-one-quarter-mobile is-pulled-right"> <h3> Recent activities </h3></div>
                -->

                </div>


{% endblock content %}
