
{% extends  'base.html' %}

{% block content %}



                <div class="homeTable">
                    {% if all_prob_list %}
                      
                      <h3>Current Problems</h3>
                    
                      <table class="table table-bordered ">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Problem</th>
                              <th scope="col">Status</th>
                              <th scope="col">Author</th>
                              <th scope="col">Coordinator</th>
                              <th scope="col">Created on</th>
                            </tr>
                          </thead>
                          <tbody >
                            {% for problem in all_prob_list %}
                              <tr>
                                <td><a href="{% url 'problem_detail' problem.pk %}">{{problem.difficulty}}  -  {{problem.title}}</a></td>
                                <td>{{problem.status}}</td>
                                <td>{{problem.author}}</td>
                                <td>{{problem.coordinator1}}</td>
                                <td>{{problem.created | date:"M d, Y"}}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    {% else %}
                      <div class="title"><h3>No problems proposed</h3></div>
                    {% endif%}
                    <a class="btn btn-primary" href="{% url 'problem_create' %}" role="button">+ Propose new Problem</a>
                </div>
             

                <!--
                <div class="column is-one-quarter-mobile is-pulled-right"> <h3> Recent activities </h3></div>
                -->

              


{% endblock content %}
