
{% extends  'base.html' %}

{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% block content %}
<div class="title">
	<h4>Problem details</h4>
</div>
<div>
	<div>
			<article>
				<h2>{{problem.difficulty}} - {{ problem.title }}</h2>
				<p>Author - {{problem.author}}<br>
				Coordinator-1 : {{problem.coordinator1}}<br>
				Coordinator-2 : {{problem.coordinator2}}<br> </p>
				Description :
				<div>{{ problem.Description | markdown:"width=200" }}</div>
				<br>
			</article>
			<div class="buttonsArea">
				<a class="btn btn-primary btn-sm" href="{% url 'problem_delete' problem.pk %}" role="button">Delete Problem</a>
				<a class="btn btn-primary btn-sm" href="{% url 'problem_edit' problem.pk %}" role="button">Edit Problem</a>
			</div>
		
	</div>

	<div class="commentFormCustomStyle">
		<form method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit" style="background-color:bisque; margin-top:10px">Comment</button>
		</form>
		<div>
			{% for comment in comments	%}
				<div class="card commentCard">
					<div class="card-header commentCardHeader">
					{{comment.author}} said at {{comment.created}}
					</div>
					<div class="card-body">{{comment.comment}}</div>
				</div>
			{% endfor %}
		</div>
	</div>

</div>	
{% endblock content%}